<div id="<%= dom_id payment %>" class="transaction_wrapper">

<div>
  <p>
    <strong>Name:</strong>
    <%= payment.name %>
  </p>
  <p class="transaction_date">
  <%= payment.created_at.strftime("%d-%B-%Y") %>
</p>
</div>
  <p>
    <strong>Amount: $</strong>
    <%= payment.amount %>
  </p>
</div>
